
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
		<h1>Accountability: About This Data Set</h1>
        <p>This data set consists of the roll call vote faction detection results for all proposed votes on the floor of the Ukrainian Parliament. 
        <a href="http://www.casos.cs.cmu.edu/">Our Research Groups</a> has also enriched this data by adding in attributes about the Ukrainian Parliamentarians
        (i.e. age, method of election, profession, etc.)
        </p>
      </div>

    
      <div class="page-header">
		<h2>Where did this data come from?</h2>
		<p> This data was taken driectly from the records on the Ukrainian Parliament's <a href="http://rada.gov.ua/en">website</a>. Attribute data
		about the parliamentarians were collected by researchers through translations of official parliamentary records and from searching Google and Facebook.
		</p>
      </div>
      
      <div class="page-header">
		<h2>Who has access to it?</h2>
		<p> The data is currently proprietary, since it is still being completed and is part of a major research project.
		So, the data is only available for access and use from the <a href="http://www.casos.cs.cmu.edu/">CASOS</a> research group.
		</p>
      </div>
      
      <div class="page-header">
		<h2>Initial User Feedback</h2>
		<p> The ability to plot spatial positions of individuals by some shared characteristic or beahviour has always been desirable to social scientists. For this visualization
		I first experiemnted with 2-dimensional and 3-diemnsional plots. After showing both to some fellow researchers, who are working on the same question, we came to the conclusion
		that additional information is gained from 3-d dimensional plots, and so we discarded this idea and stuck with only 2 latent dimensions for representing the parliamentarians. Outside of
		that, fellow researchers like the ability to switch between different groupings and convocations. The only thing that was still desired that we were not able to implement
		was to display some kind of numerical measure of differences between different coefficient of similairites, or grouping algorithms, (like an adjusted rand index), next to the visual 
		displays to get a better understanding of the differences between methods.
		</p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
