
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Accountability: About This Data Set</h1>
        <p>This data set consists of Google activity recognition data and location data taken from a Samsung Android phone using the 
        <a href="http://www.awareframework.com/">AWARE Framework</a>. Data was collected from 2/17/2018 to 3/4/2018. This data is only
        drawn from my personally owened smart phone and the smart phone was only used by during the period of data collection,
        and so it only reflects information about me. During the time period of collection, I was also on vacation in Chicago,
        so some of the data reflects me on vacation, as opposed to a daily routine.
        
        </a></p>
      </div>

    
      <div class="page-header">
	<h2>Where did this data come from?</h2>
		<p> This data orignated from a Samsung smart phone and was collected via the <a href="http://www.awareframework.com/">AWARE Framework</a>. 
		All of the data is from one cell phone solely operated by me, and so all data originates with my actions.
		
		</p>
      </div>
      
      <div class="page-header">
	<h2>Who has access to it?</h2>
		<p> I am the sole curator of this data; I am the only person that updates, alters, deletes or otherwise manipulates the base data. As part of the
		Tableau display, a copy of the cleaned data used to make the display is also available on Tableau's public server. However, changes to the Tableau data
		will not reflect in the original data source.
		</p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
