<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
			<li><a href="explore">Exploratory Data Visualization</a></li>
			<li><a href="attribute">Attribute Analysis</a></li>
          </ul>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main" style="width: 100%; overflow: hidden;">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	      <h2>About This Method</h2>
				<p>The fundamental theory behind this analysis that individual's behavior, expecially shared beahviour with other indivdiuals,
		      	leads to the formation of social groups. In this case, we are taking voting behavior as the driving behavior for the formation
		      	of political groups within a political body. This approach is not a new one. There have been methods employed to find facitons through voting behavior
		      	since the 1920's. Most of the work on faction detection through roll call votes has focused on American institutions like the
		      	U.S. Congress or the U.S. Supreme Court. Also, most of the methods employed today rely on either estimating voters 'ideal points' in a latent space
		      	using probabilistic utility functions fit on their voting behavior, or Guttman-style scaling methods. All of these methods require a binary outcome for a vote (
		      	i.e. you can only vote 'for' or 'against' something). The methods on this page, while from a less popular strain of research, allow a researcher to overcome the binary votes and independent voting
		      	assumptions. Moreover, the Gower's Method also allows for a researcher to inject subject matter expertise or test theories about the voting
		      	behavior through specially-crafted weighting functions.
		      	</p>
      </div>

		<div class="page-header">
			<h2>About This Data</h2>
			<p>This data set consists of the roll call vote faction detection results for all proposed votes on the floor of the Ukrainian Parliament. 
        	<a href="http://www.casos.cs.cmu.edu/">Our Research Group</a> has also enriched this data by adding in attributes about the Ukrainian Parliamentarians
        	(i.e. age, method of election, profession, etc.). 
			</p>
			<ul>
				<li> <strong>Access to this data</strong>: The data is currently proprietary, since it is still being completed and is part of a major research project.
				So, the data is only available for access and use from the <a href="http://www.casos.cs.cmu.edu/">CASOS</a> research group.
				</li>
				<li> <strong>Accountability of this data</strong>: Since the actualy roll call voting results come directly from the official, digital records of
				the Ukrainian  palriament, the data can be traced to the source and has regulations guiding its correct reporting. As for the attributes, since these have been colelcted from various
				sources, some official like the Ukrainian Parliament's website and some unofficial like public facing blogs or facebook pages, the data is not neecesarily
				strongly ties to the underlying phenomenon and could be subject to change at different measurement intervals. 
				</li>
				<li> <strong>Coherence of data</strong>: There have been no identified coherence issues with the roll call data. The distributions of vote repsonses matches what our
				subject matter experts have told us to expect (i.e. mostly 'yay' votes, with a good number of 'abstain' votes and very few
				'nay' votes). The data is repesented as a collection of parliamentarian by votes matrices for each convocation. As an example, see below:
				
				<p> <img src="templates/data_example.png" alt="Mountain View", style="padding:20px; align:bottom;"></p>
				
				Furthermore, we also see a unique pattern of vote responses in the data, namely that most votes are for a bill and very, very few are actually against a bill.
				The following chart displays a breakdown of all the vote responses for all the bills:
				
				<p> <img src="templates/votePieAfter.png" alt="Mountain View", style="padding:20px; align:bottom;"></p>
				
				</li>
				<li> <strong>Completeness of data</strong>: This data set is not yet complete. We are in the process of the collecting archival votes from previous convocations 
				of the parliament. We are also in the process of researching the attributes of the parliamentarians of both the current and
				prior convocations. However, the voting records are complete and so the factions discovered by the roll call votes alone can be considered
				reliable and reflective of the actual voting of the parliament.
				</li>
			</ul>
		
		</div>
		
		<div class="page-header">
			<h2>Initial User Feedback</h2>
			<p> The ability to plot spatial positions of individuals by some shared characteristic or beahviour has always been desirable to social scientists. For this visualization
			I first experiemnted with 2-dimensional and 3-diemnsional plots. After showing both to some fellow researchers, who are working on the same question, we came to the conclusion
			that additional information is gained from 3-d dimensional plots, and so we discarded this idea and stuck with only 2 latent dimensions for representing the parliamentarians. Outside of
			that, fellow researchers like the ability to switch between different groupings and convocations. The only thing that was still desired that we were not able to implement
			was to display some kind of numerical measure of differences between different coefficient of similairites, or grouping algorithms, (like an adjusted rand index), next to the visual 
			displays to get a better understanding of the differences between methods. I have also recieved feedback to include some different coloring methods, such as Louvain clustering. 
			</p>
      	</div>
      	
      	<div class="panel-footer">
			<p> &copy; Iain J. Cruickshank and CASOS Institute, CMU (Director: Dr. Kathleen M. Carley) 
			</p>
		</div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
