<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Index</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="css/explore.css" rel="stylesheet">
  </head>
  
  <body role="document">
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container theme-showcase" role="main">
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Latent Spatial Positions of Ukrainian Parliamentarians</h1>
        <p> TBD
        </p>
      </div>
      
      <div class="page-header">
	
      </div> <!-- /page-header -->
      
      <div id="scatter"></div>
	
	</div> <!-- /container -->

<!-- STYLES FOR D3 -->
<style>
/* Styles for Interactive Scatter Plot */
body {
  /*margin: 0;*/
  font-family: arial, sans;
}

rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* End styles for Interactive Scatter Plot*/

</style>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.7/d3-tip.js"></script>
    
    <select id="coloring">
    	<option value="mean_shift">Mean Shift</option>
    	<option value="gmm" selected="selected">Guassian Mixture Model</option>
    </select>
    <button class="reset" >Reset Zoom</button>
    
    <script>
    $( document ).ready(function(){
    	
    	/*Start interactive scatter plot*/
    	var margin = {
		        top: 20,
		        right: 70,
		        bottom: 50,
		        left: 70
		    },
		    outerWidth = 1100,
		    outerHeight = 600,
		    width = outerWidth - margin.left - margin.right,
		    height = outerHeight - margin.top - margin.bottom;
		
		var x = d3.scale.linear()
		    .range([0, width]).nice();
		
		var y = d3.scale.linear()
		    .range([height, 0]).nice();
				
		var xAxis = d3.svg.axis()
		    .scale(x)
		    .orient("bottom")
		    .tickSize(-height);
		
		var yAxis = d3.svg.axis()
		    .scale(y)
		    .orient("left")
		    .tickSize(-width);
		
		var xCat = "gowers_x",
		    yCat = "gowers_y",
		    colorCat = "gowers_gmm";
		
		var labels = {
			"Name": "Name",
		    "Age": "Age",
		    "Committee": "Committee",
		    "Education": "Education",
		    "Election": "Election",
		    "Profession": "Profession",
		    "Gender": "Gender",
		    "Facebook": "Facebook",
		    "Twitter": "Twitter"
		};
		
		d3.csv("css/convocation_8.csv", function(data) {
		    data.forEach(function(d) {
		        d.Parliamentarian = d.Parliamentarian;
		        d.gowers_mean_shift = d.gowers_mean_shift;
		        d.gowers_gmm = d.gowers_gmm;
		        d.gowers_x = Number(d.gowers_x);
		        d.gowers_y = Number(d.gowers_y);
		        d.jaccard_mean_shift = d.jaccard_mean_shift;
		        d.jaccard_gmm = d.jaccard_gmm;
		        d.jaccard_x = Number(d.jaccard_x);
		        d.jaccard_y = Number(d.jaccard_y);
		        d.hamming_mean_shift = d.hamming_mean_shift;
		        d.hamming_gmm = d.hamming_gmm;
		        d.hamming_x = Number(d.hamming_x);
		        d.hamming_y = Number(d.hamming_y);
		        d.Age = Number(d.Age);
		        d.Committee = d.Committee;
		        d.Education = d.Education;
		        d.Election = d.Election;
		        d.Profession = d.Profession;
		        d.Gender = d.Gender;
		        d.Facebook = d.Facebook;
		        d.Twitter = d.Twitter;
		    });
		
		    var xMax = d3.max(data, function(d) {
		            return d[xCat];
		        }) * 1.05,
		        xMin = d3.min(data, function(d) {
		            return d[xCat];
		        }),
		        xMin = xMin > 0 ? 0 : xMin,
		        yMax = d3.max(data, function(d) {
		            return d[yCat];
		        }) * 1.05,
		        yMin = d3.min(data, function(d) {
		            return d[yCat];
		        }),
		        yMin = yMin > 0 ? 0 : yMin;
		    x.domain([xMin, xMax]);
		    y.domain([yMin, yMax]);
		
		    var color = d3.scale.category10();
		
		    var tip = d3.tip()
		        .attr("class", "d3-tip")
		        .offset([-10, 0])
		        .html(function(d) {
		            return labels["Name"] + ": " + d["Parliamentarian"] + "<br>" + labels["Election"] + ": " + d["Election"] + "<br>" + 
		            labels["Committee"] + ": " + d["Committee"]  + "<br>" + labels["Profession"] + ": " + d["Profession"]
		             + "<br>" + labels["Age"] + ": " + d["Age"]  + "<br>" + labels["Gender"] + ": " + d["Gender"]  + "<br>" + labels["Education"] + ": " + d["Education"]
		              + "<br>" + labels["Facebook"] + ": " + d["Facebook"]  + "<br>" + labels["Twitter"] + ": " + d["Twitter"];
		        });
		
		    var zoomBeh = d3.behavior.zoom()
		        .x(x)
		        .y(y)
		        .scaleExtent([0, 1000])
		        .on("zoom", zoom);
		
		    var svg = d3.select("#scatter")
		        .append("svg")
		        .attr("width", outerWidth)
		        .attr("height", outerHeight)
		        .append("g")
		        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
		        .call(zoomBeh);
		    svg.call(tip);
		    svg.append("rect")
		        .attr("width", width)
		        .attr("height", height);
		    svg.append("g")
		        .classed("x axis", true)
		        .attr("transform", "translate(0," + height + ")")
		        .call(xAxis)
		        .append("text")
		        .classed("label", true)
		        .attr("x", width)
		        .attr("y", margin.bottom - 10)
		        .style("text-anchor", "end");
		    svg.append("g")
		        .classed("y axis", true)
		        .call(yAxis)
		        .append("text")
		        .classed("label", true)
		        .attr("transform", "rotate(-90)")
		        .attr("y", -margin.left)
		        .attr("dy", "1.5em")
		        .style("text-anchor", "end");
		
		    var objects = svg.append("svg")
		        .classed("objects", true)
		        .attr("width", width)
		        .attr("height", height);
		    objects.append("svg:line")
		        .classed("axisLine hAxisLine", true)
		        .attr("x1", 0)
		        .attr("y1", 0)
		        .attr("x2", width)
		        .attr("y2", 0)
		        .attr("transform", "translate(0," + height + ")");
		    objects.append("svg:line")
		        .classed("axisLine vAxisLine", true)
		        .attr("x1", 0)
		        .attr("y1", 0)
		        .attr("x2", 0)
		        .attr("y2", height);
		    objects.selectAll(".dot")
		        .data(data)
		        .enter().append("circle")
		        .classed("dot", true)
		        .attr({
		            r: function(d) {
		                return 4 * Math.sqrt(4.0 / Math.PI);
		            },
		            cx: function(d) {
		                return x(d[xCat]);
		            },
		            cy: function(d) {
		                return y(d[yCat]);
		            }
		        })
			    .style("fill", function(d) {
			        return color(d[colorCat]);
			    }) 
		        .on("mouseover", tip.show)
		        .on("mouseout", tip.hide);
		
		    var legend = svg.selectAll(".legend")
		        .data(color.domain())
		        .enter().append("g")
		        .classed("legend", true)
		        .attr("transform", function(d, i) {
		            return "translate(0," + i * 20 + ")";
		        });
		    legend.append("rect")
		        .attr("x", width + 10)
		        .attr("width", 12)
		        .attr("height", 12)
		        .style("fill", color);
		    
		    legend.append("text")
		        .attr("x", width + 26)
		        .attr("dy", ".65em")
		        .text(function(d) {
		            return d;
		        });
		        
		        
		    d3.select("button.reset").on("click", change);
		    d3.select('#coloring')
			  .on('change', function() {
			    var newData = "gowers_" + d3.select(this).property('value');
			    
			    updateColors(newData);
			});

		
		    function change() {
		        xMax = d3.max(data, function(d) {
		            return d[xCat];
		        });
		        xMin = d3.min(data, function(d) {
		            return d[xCat];
		        });
		        zoomBeh.x(x.domain([xMin, xMax])).y(y.domain([yMin, yMax]));
		
		        var svg = d3.select("#scatter").transition();
		        svg.select(".x.axis").duration(750).call(xAxis).select(".label").text(labels[xCat]);
		        objects.selectAll(".dot").transition().duration(1000)
		            .attr({
		                r: function(d) {
		                    return 4 * Math.sqrt(4.0 / Math.PI);
		                },
		                cx: function(d) {
		                    return x(d[xCat]);
		                },
		                cy: function(d) {
		                    return y(d[yCat]);
		                }
		            });
		    }
		
		    function zoom() {
		        svg.select(".x.axis").call(xAxis);
		        svg.select(".y.axis").call(yAxis);
		        svg.selectAll(".dot")
		            .attr({
		                cx: function(d) {
		                    return x(d[xCat]);
		                },
		                cy: function(d) {
		                    return y(d[yCat]);
		                }
		            });
		            // .attr("transform", transform);
		    }
		
		    function transform(d) {
		        return "translate(" + x(d[xCat]) + "," + y(d[yCat]) + ")";
		    }
		
		    function updateColors(newColor) {
		        colorCat = newColor;

		        d3.selectAll("circle.dot")
		            .transition()
		            .duration(1000)
		            .attr({
		                r: function(d) {
		                    return 4 * Math.sqrt(4.0 / Math.PI);
		                },
		                cx: function(d) {
		                    return x(d[xCat]);
		                },
		                cy: function(d) {
		                    return y(d[yCat]);
		                }
		            })
		            .style("fill", function(d) {
			        	return color(d[colorCat]);
			    });
			    
			    svg.selectAll(".legend").remove();
		        
				var legend = svg.selectAll(".legend")
				.data(color.domain())
				.enter().append("g")
				.classed("legend", true)
				.attr("transform", function(d, i) {
				    return "translate(0," + i * 20 + ")";
				});
				legend.append("rect")
					.attr("x", width + 10)
					.attr("width", 12)
					.attr("height", 12)
					.style("fill", color);
				    legend.append("text")
					.attr("x", width + 26)
					.attr("dy", ".65em")
					.text(function(d) {
					    return d;
				     });
		    }

		});
    	
	}); //End document ready   
</script>
 
</body>
</html>
