<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Index</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="css/explore.css" rel="stylesheet">
  </head>
  
  <body role="document">
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container theme-showcase" role="main">
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Latent Spatial Positions of Ukrainian Parliamentarians</h1>
        <p> TBD
        </p>
      </div>
      
      <div class="page-header">
	
      </div> <!-- /page-header -->

	</div> <!-- /container -->

<svg></svg>

<!-- STYLES FOR D3 -->
<style>
/* Styles for date/time chart */
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}
/* End styles for date/time chart */

/* Styles for bar chart */
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: orange;
}
/* End styles for bar chart*/

/* Styles for Interactive Scatter Plot */
body {
  /*margin: 0;*/
  font-family: arial, sans;
}

rect {
  fill: transparent;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  shape-rendering: crispEdges;
}

.axisLine {
  fill: none;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 2px;
}

.dot {
  fill-opacity: .5;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* End styles for Interactive Scatter Plot*/

</style>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
    $( document ).ready(function(){
    	
    	/*Start interactive scatter plot*/
    	var margin = {
		        top: 20,
		        right: 210,
		        bottom: 50,
		        left: 70
		    },
		    outerWidth = 1050,
		    outerHeight = 500,
		    width = outerWidth - margin.left - margin.right,
		    height = outerHeight - margin.top - margin.bottom;
		
		var x = d3.scale.linear()
		    .range([0, width]).nice();
		
		var y = d3.scale.linear()
		    .range([height, 0]).nice();
		
		var xAxis = d3.svg.axis()
		    .scale(x)
		    .orient("bottom")
		    .tickSize(-height);
		
		var yAxis = d3.svg.axis()
		    .scale(y)
		    .orient("left")
		    .tickSize(-width);
		
		var xCat = "gowers_x",
		    yCat = "gowers_y",
		    rCat = 1.0,
		    colorCat = "gower_mean shift";
		
		var labels = {
		    "Age": "Age",
		    "Committee": "Committee",
		    "Education": "Education",
		    "Election": "Election",
		    "Profession": "Profession",
		    "Gender": "Gender",
		    "Facebook": "Facebook",
		    "Twitter": "Twitter"
		};
		
		d3.csv("css/convocation_3.csv", function(data) {
		    data.forEach(function(d) {
		        d.Parliamentarian = d.Parliamentarian;
		        d.gowers_mean_shift = Number(d.gowers_mean_shift);
		        d.gowers_gmm = Number(d.gowers_gmm);
		        d.gowers_x = Number(d.gowers_x);
		        d.gowers_y = Number(d.gowers_y);
		        d.jaccard_mean_shift = Number(d.jaccard_mean_shift);
		        d.jaccard_gmm = Number(d.jaccard_gmm);
		        d.jaccard_x = Number(d.jaccard_x);
		        d.jaccard_y = Number(d.jaccard_y);
		        d.hamming_mean_shift = Number(d.hamming_mean_shift);
		        d.hamming_gmm = Number(d.hamming_gmm);
		        d.hamming_x = Number(d.hamming_x);
		        d.hamming_y = Number(d.hamming_y);
		        d.Age = Number(d.Age);
		        d.Committee = d.Committee;
		        d.Education = d.Education;
		        d.Election = d.Election;
		        d.Profession = d.Profession;
		        d.Gender = d.Gender;
		        d.Facebook = URL(d.Facebook);
		        d.Twitter = URL(d.Twitter);
		    });
		
		    var xMax = d3.max(data, function(d) {
		            return d[xCat];
		        }) * 1.05,
		        xMin = d3.min(data, function(d) {
		            return d[xCat];
		        }),
		        xMin = xMin > 0 ? 0 : xMin,
		        yMax = d3.max(data, function(d) {
		            return d[yCat];
		        }) * 1.05,
		        yMin = d3.min(data, function(d) {
		            return d[yCat];
		        }),
		        yMin = yMin > 0 ? 0 : yMin;
		    x.domain([xMin, xMax]);
		    y.domain([yMin, yMax]);
		
		    var color = d3.scale.category10();
		
		    var tip = d3.tip()
		        .attr("class", "d3-tip")
		        .offset([-10, 0])
		        .html(function(d) {
		            return labels[xCat] + ": " + d[xCat] + "<br>" + labels[yCat] + ": " + d[yCat];
		        });
		
		    var zoomBeh = d3.behavior.zoom()
		        .x(x)
		        .y(y)
		        .scaleExtent([0, 1000])
		        .on("zoom", zoom);
		
		    var svg = d3.select("#scatter")
		        .append("svg")
		        .attr("width", outerWidth)
		        .attr("height", outerHeight)
		        .append("g")
		        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
		        .call(zoomBeh);
		    svg.call(tip);
		    svg.append("rect")
		        .attr("width", width)
		        .attr("height", height);
		    svg.append("g")
		        .classed("x axis", true)
		        .attr("transform", "translate(0," + height + ")")
		        .call(xAxis)
		        .append("text")
		        .classed("label", true)
		        .attr("x", width)
		        .attr("y", margin.bottom - 10)
		        .style("text-anchor", "end")
		        .text("Age");
		    svg.append("g")
		        .classed("y axis", true)
		        .call(yAxis)
		        .append("text")
		        .classed("label", true)
		        .attr("transform", "rotate(-90)")
		        .attr("y", -margin.left)
		        .attr("dy", "1.5em")
		        .style("text-anchor", "end")
		        .text("Probability of Mortality");
		
		    var objects = svg.append("svg")
		        .classed("objects", true)
		        .attr("width", width)
		        .attr("height", height);
		    objects.append("svg:line")
		        .classed("axisLine hAxisLine", true)
		        .attr("x1", 0)
		        .attr("y1", 0)
		        .attr("x2", width)
		        .attr("y2", 0)
		        .attr("transform", "translate(0," + height + ")");
		    objects.append("svg:line")
		        .classed("axisLine vAxisLine", true)
		        .attr("x1", 0)
		        .attr("y1", 0)
		        .attr("x2", 0)
		        .attr("y2", height);
		    objects.selectAll(".dot")
		        .data(data)
		        .enter().append("circle")
		        .classed("dot", true)
		        .attr({
		            r: function(d) {
		                return 4 * Math.sqrt(d[rCat] / Math.PI);
		            },
		            cx: function(d) {
		                return x(d[xCat]);
		            },
		            cy: function(d) {
		                return y(d[yCat]);
		            }
		        })
		    .style("fill", function(d) {
		        return color(d[colorCat]);
		    })
		        .on("mouseover", tip.show)
		        .on("mouseout", tip.hide);
		
		    var legend = svg.selectAll(".legend")
		        .data(color.domain())
		        .enter().append("g")
		        .classed("legend", true)
		        .attr("transform", function(d, i) {
		            return "translate(0," + i * 20 + ")";
		        });
		    legend.append("rect")
		        .attr("x", width + 10)
		        .attr("width", 12)
		        .attr("height", 12)
		        .style("fill", color);
		    legend.on("click", function(type) {
		        // dim all of the icons in legend
		        d3.selectAll(".legend")
		            .style("opacity", 0.1);
		        // make the one selected be un-dimmed
		        d3.select(this)
		            .style("opacity", 1);
		        // select all dots and apply 0 opacity (hide)
		        d3.selectAll(".dot")
		        // .transition()
		        // .duration(500)
		        .style("opacity", 0.0)
		        // filter out the ones we want to show and apply properties
		        .filter(function(d) {
		            return d["first_careunit"] == type;
		        })
		            .style("opacity", 1) // need this line to unhide dots
		        .style("stroke", "black")
		        // apply stroke rule
		        .style("fill", function(d) {
		            if (d.hospital_expire_flag == 1) {
		                return this;
		            } else {
		                return "white";
		            };
		        });
		    });
		    legend.append("text")
		        .attr("x", width + 26)
		        .attr("dy", ".65em")
		        .text(function(d) {
		            return d;
		        });
		    d3.select("button.reset").on("click", change);
		    d3.select("button.changexlos").on("click", updateX);
		
		    function change() {
		        xMax = d3.max(data, function(d) {
		            return d[xCat];
		        });
		        xMin = d3.min(data, function(d) {
		            return d[xCat];
		        });
		        zoomBeh.x(x.domain([xMin, xMax])).y(y.domain([yMin, yMax]));
		
		        var svg = d3.select("#scatter").transition();
		        svg.select(".x.axis").duration(750).call(xAxis).select(".label").text(labels[xCat]);
		        objects.selectAll(".dot").transition().duration(1000)
		            .attr({
		                r: function(d) {
		                    return 4 * Math.sqrt(d[rCat] / Math.PI);
		                },
		                cx: function(d) {
		                    return x(d[xCat]);
		                },
		                cy: function(d) {
		                    return y(d[yCat]);
		                }
		            });
		    }
		
		    function zoom() {
		        svg.select(".x.axis").call(xAxis);
		        svg.select(".y.axis").call(yAxis);
		        svg.selectAll(".dot")
		            .attr({
		                cx: function(d) {
		                    return x(d[xCat]);
		                },
		                cy: function(d) {
		                    return y(d[yCat]);
		                }
		            });
		            // .attr("transform", transform);
		    }
		
		    function transform(d) {
		        return "translate(" + x(d[xCat]) + "," + y(d[yCat]) + ")";
		    }
		
		    function updateX() {
		        xCat = "gowers_x",
		        yCat = "gowers_y",
		        rCat = 1.0,
		        colorCat = "gowers_mean_shift";
		        xMax = d3.max(data, function(d) {
		            return d[xCat];
		        }) * 1.05,
		        xMin = d3.min(data, function(d) {
		            return d[xCat];
		        }),
		        xMin = xMin > 0 ? 0 : xMin,
		        yMax = d3.max(data, function(d) {
		            return d[yCat];
		        }) * 1.05,
		        yMin = d3.min(data, function(d) {
		            return d[yCat];
		        }),
		        yMin = yMin > 0 ? 0 : yMin;
		        x.domain([xMin, xMax]);
		        y.domain([yMin, yMax]);
		
		        var zoomBeh = d3.behavior.zoom()
		            .x(x)
		            .y(y)
		            .scaleExtent([0, 1000])
		            .on("zoom", zoom);
		
		        var svg = d3.select("svg").transition();
		        svg.select(".y.axis")
		            .duration(1000)
		            .call(yAxis);
		        svg.select('.x.axis')
		            .duration(1000)
		            .call(xAxis);
		        svg.select('.label')
		            .duration(1000)
		        .attr("x", width)
		            .attr("y", margin.bottom - 10)
		            .style("text-anchor", "end")
		            .text("Length of Stay");
		
		        d3.selectAll("circle.dot")
		            .transition()
		            .duration(1000)
		            .attr({
		                r: function(d) {
		                    return 4 * Math.sqrt(d[rCat] / Math.PI);
		                },
		                cx: function(d) {
		                    return x(d[xCat]);
		                },
		                cy: function(d) {
		                    return y(d[yCat]);
		                }
		            });
		    }
		});
    	
    	
		/*Start date/time hover graph code
		
		
		// Set the dimensions of the canvas / graph
		var margin = {top: 30, right: 20, bottom: 30, left: 50},
		    width = 600 - margin.left - margin.right,
		    height = 270 - margin.top - margin.bottom;
		
		// Parse the date / time
		var parseDate = d3.timeParse("%y-%b-%d %h:%m:%s");
		var formatTime = d3.timeFormat("%e %B");
		
		// Set the x and y ranges
		var x = d3.scaleTime().range([0, width]);
		var y = d3.scaleLinear().range([height, 0]);
		
		// Define the axes
		var xAxis = d3.axisBottom(x).ticks(5);
		
		var yAxis = d3.axisLeft(y).ticks(5);
		
		// Define the line we're going to draw via our data points
		var valueline = d3.line()
		    .x(function(d) { return x(d.date); })
		    .y(function(d) { return y(d.close); });
		
		// Define the div for the tooltip
		var div = d3.select("body").append("div")	
		    .attr("class", "tooltip")				
		    .style("opacity", 0);
		
		// Adds the svg canvas
		var svg = d3.select("body")
		    .append("svg")
		        .attr("width", width + margin.left + margin.right)
		        .attr("height", height + margin.top + margin.bottom)
		    .append("g")
		        .attr("transform", 
		              "translate(" + margin.left + "," + margin.top + ")");
		
		// Get the data
		d3.csv("css/walk.csv", function(error, data) {
		    data.forEach(function(d) {
		        d.date = parseDate(d.date);
		        d.close = +d.close;
				console.log('d.date: ' + d.date + ', d.close: ' + d.close);
		    });
		
		    // Scale the range of the data
		    x.domain(d3.extent(data, function(d) { return d.day; }));
		    y.domain([0, d3.max(data, function(d) { return d.confidence; })]);
		
		    // Add the valueline path.
		    svg.append("path")
		        .attr("class", "line")
		        .attr("d", valueline(data));
		
		    // Add the scatterplot
		    svg.selectAll("dot")	
		        .data(data)			
		    .enter().append("circle")								
		        .attr("r", 5)		
		        .attr("cx", function(d) { return x(d.day); })		 
		        .attr("cy", function(d) { return y(d.confidence); })		
		        .on("mouseover", function(d) {		
		            div.transition()		
		                .duration(200)		
		                .style("opacity", .9);		
		            div	.html(formatTime(d.day) + "<br/>"  + d.confidence)	
		                .style("left", (d3.event.pageX) + "px")		
		                .style("top", (d3.event.pageY - 28) + "px");	
		            })					
		        .on("mouseout", function(d) {		
		            div.transition()		
		                .duration(500)		
		                .style("opacity", 0);	
		        });
		
		    // Add the X Axis
		    svg.append("g")
		        .attr("class", "x axis")
		        .attr("transform", "translate(0," + height + ")")
		        .call(xAxis);
		
		    // Add the Y Axis
		    svg.append("g")
		        .attr("class", "y axis")
		        .call(yAxis);
		});*/
		//End date/time hover graph
		
		

	
	/*  Code for the bar chart, remove the surrounding comment markers to display.
		When doing so, be sure to delete this text and comment out the above chart 
		
		
		var bar_svg = d3.select("svg").attr("width", 1200).attr("height", 1200),
		    margin = {top: 20, right: 20, bottom: 30, left: 40},
		    width = +bar_svg.attr("width") - margin.left - margin.right,
		    height = +bar_svg.attr("height") - margin.top - margin.bottom;
	
		var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
		    y = d3.scaleLinear().rangeRound([height, 0]);
		
		var g = bar_svg.append("g")
		    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
		
		d3.csv("css/sports.csv", function(d) {//d3.tsv("data.tsv", function(d) {
		  //d.Year = +d.Year;
		  d.Year = parseInt(d["Average attendance"].replace(',',''));
		  return d;
		}, function(error, data) {
		  if (error) throw error;
		
		  x.domain(data.map(function(d) { return d.Tournament; }));
		  y.domain([0, d3.max(data, function(d) { return d.Year; })]);
		
		  //Defines the X axis
		  g.append("g")
		      .attr("class", "axis axis--x")
		      .attr("transform", "translate(0," + height + ")")
		      .call(d3.axisBottom(x));
		
		  //Defines the Y axis
		  g.append("g")
		      .attr("class", "axis axis--y")
		      .call(d3.axisLeft(y).ticks(10, "s"))
		    .append("text")
		      .attr("transform", "rotate(-90)")
		      .attr("y", 6)
		      .attr("dy", "0.71em")
		      .attr("text-anchor", "end")
		      .text("Year");
		
		  g.selectAll(".bar")
		    .data(data)
		    .enter().append("rect")
		      .attr("class", "bar")
		      .attr("x", function(d) { return x(d.Tournament); })
		      .attr("y", function(d) { return y(d.Year); })
		      .attr("width", x.bandwidth())
		      .attr("height", function(d) { return height - y(d.Year); });
		}); */
		//End bar chart code
		
	}); //End document ready   
</script> 
</body>
</html>
