<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Iain J. Cruickshank">
    <link rel="icon" href="favicon.ico">
    <title>Index</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="css/explore.css" rel="stylesheet">
  </head>
  
  <body role="document">  
    
    <div class="container theme-showcase" role="main" style="width: 100%; overflow: hidden;">
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-image: url(templates/Ukraine_Parliament_background.png);"" >
		<h1 style="color: white;">Latent Spatial Positions of Ukrainian Parliamentarians</h1>
        <h3 style="color: white;"><strong>Can we find factions of parliamentarians in the Ukrainian Parliament by their voting behavior? </strong></h3>
        <p style="color: white;"> In order to better understand possible factions in political bodies, I have created an interactive visualization of different methods of comparing parliamentarians by their voting behavior. 
        The interactive spatial plot on this page plots the positions of the parliamentarians of the <a href="http://rada.gov.ua/en">Ukrainian Palriament</a> as a function of their voting behavior. 
        This visualization was inspired by similar visualizations of the U.S. Congress and <a href="http://www.itsyourparliament.eu/nominate/">European parliament</a>, where spatial positions were determined from roll call votes 
        by the <a href="https://en.wikipedia.org/wiki/NOMINATE_(scaling_method)">NOMINATE</a> algorithm. This work is part of ongoing research into faction detection method development, and the application
        of faction detection methods to Ukrainian Politics. This page is a visualization designed to help in evaluating different faction detection methods, and to visually investigate the data for general patterns and anomalies.
        </p>
      </div>
      
      <div class="btn-group">
  		<a href="explore" class="btn btn-info" role="button">Explore the Voting Data</a>
  		<a href="attribute" class="btn btn-info" role="button">Explore the Relationship between Parliamentarian attributes and voting factions</a>
  		<a href="about" class="btn btn-info" role="button">Learn about the Data</a>
	  </div>

		<div class="panel-footer">
			<p> &copy; Iain J. Cruickshank and CASOS Institute, CMU (Director: Dr. Kathleen M. Carley) 
			</p>
		</div>
     </div> <!-- /page-header -->
     
</body>
</html>
